.DS_Store

Examples/AngryBots/Temp/
Examples/AngryBots/Library/
Examples/AngryBots/Obj/

Examples/Penelope/Temp/
Examples/Penelope/Library/
Examples/Penelope/Obj/

*.pidb
*.svd
*.meta
*.sln
*.userprefs
*.csproj

